.newDiv{
    margin: 50px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    font-size: large;
}

.maincontent{
    margin: 5px;
    height: 410px;
    background-color: aqua;
    text-align: center;
    font-size: large;
}
/* This is a new comment*/